<div class="set">
  <h3 style="text-align: left;">
    <i class="fa fa-bookmark"></i>
    <%- site.categories.length %> Category(ies)
  </h3>
  <%- list_categories({orderby: "length", order: -1}) %>
</div>
